@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* default css for the  headings */

h1 {
    font-size: clamp(30px, 5vw, 60px);
}

p {
    font-size: clamp(12px, 2vw, 14px);
}

/* custom css starts from here  */

/*  for hiding the scrollbar */

.hide_scrollbar {
    scrollbar-width: none;
}

.sectionCustomHeight {
    min-height: calc(100vh - 80px);
}

/* custom css ends  here  */

@layer utilities {
    .custom_container {
        @apply container mx-auto  px-[8%];
    }

    .flex_center {
        @apply flex justify-center items-center;
    }

    .flex_between {
        @apply flex justify-between items-center;
    }

    .custom_input {
        @apply w-full border border-gray-200 py-2 pl-4 rounded-md;
    }

    .btn {
        @apply bg-black text-white text-xs py-3 px-8 rounded-lg shadow-lg capitalize cursor-pointer hover:bg-black/80 transition-all duration-300 ease-in-out;
    }

    .grayBtn {
        @apply text-xs bg-gray-100 py-3 px-8 rounded-md transition-all duration-300 ease-in-out;
    }

    .section {
        @apply sectionCustomHeight  custom_container flex_center  p-8;
    }
}
